
body{
 background-color: white  ;        
}

.circle {
	background-color: #B1E0F9;
	height: 100px;
	width: 100px;
	border-radius: 50px;
	margin: auto;
}

.page-header {
 
    margin: 00px 0px 00px !important;
    box-shadow: 2px 5px 5px #AAAAA9;
 
}

.btn-success{
    
    border-radius: 25px !important ;
    width: 50px !important;
    height : 50px !important;
    margin-left: 15px ;
    margin-right: 15px ; 
    
}   
.bring-center{
    
    height: 60px;
    width: 240px;
    margin: auto;   
    
}